<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">게시글정보</h5>
    <table class="table">
	<tr>
	<td>게시글번호 : </td>
	<td th:text="${board.bno}"></td>
	</tr>
	<tr>
	<td>게시글제목 : </td>
	<td th:text="${board.title}"></td>
	</tr>
	<tr>
	<td>글내용 : </td>
	<td th:text="${board.content}"></td>
	</tr>
	<tr>
	<td>작성자 : </td>
	<td th:text="${board.writer}"></td>
	</tr>
	<tr>
	<td>글등록일 : </td>
	<td th:text="${  #dates.format(board.regDate, 'yyyy-MM-dd')  }"></td>
	</tr>
	<tr>
	<td>글수정일 : </td>
	<td th:text="${  #dates.format(board.updateDate,'yyyy-MM-dd')  }"></td>
	</tr>
	</table>
	</div>
</div>


<!-- 게시글조회 종료부 -->
<!-- 댓글조회 시작부 -->
<div class="card mb-3">
	<div class="card-body">
	  <h5 class="card-title">댓글조회</h5>
		<div id="replyList">
			
		</div>
	</div>
</div>
<!-- 댓글종료 시작부 -->

<!-- 댓글등록 시작부 -->
<div class="card mb-3">
  <div class="card-body">
  <h5 class="card-title">댓글등록</h5>
  <form id="frm">
	<input name="reply" placeholder="reply">
	<input name="replyer" placeholder="replyer">
	<input name="bno" type="hidden" th:value="${board.bno}">
	<input name="rno" type="hidden" value="">
	<button type="button" class="btnReplyInsert">댓글작성</button>
	<button type="button" class="btnReplyUpdate">댓글수정</button>
	</form>
	</div>
</div>
<!-- 댓글등록 종료부 -->
</div>
<script>
/*--------------------------
함수 로드
-------------------------------*/
replyList();
replyInsert();
replyUpdate();
replyDelete();
/*-------------------------------------
댓글 조회 ajax 호출
---------------------------------------*/
function replyList(){
	const bno = frm.bno.value;
	const url = `/board/${bno}/reply`;
	fetch( url )
	.then( result => result.json() )
	.then( result => {replyListCallback(result); console.log(result);} )
}
/*-------------------------------------
댓글 조회 콜백
---------------------------------------*/
function replyListCallback(result){
	console.log(result);
	const replys = document.querySelector("#replyList");
	replys.innerHTML = "";
	result.forEach(item => replys.insertAdjacentHTML("beforeend", replyMake(item)) );
}
/*-------------------------------------
댓글 생성 이벤트
---------------------------------------*/
function replyMake(item){
	
	return `<div class="row border">
				<div class="col-lg-2 text-danger">${item.replyer}</div>
				<div class="col-lg-6">${item.reply}</div>
				<div class="col-lg-4">
				<button type="button" data-rno = "${item.rno}" class="btn btn-success">등록</button>
				<button type="button" data-rno = "${item.rno}" class="btn btn-primary">수정</button>
				<button type="button" data-rno = "${item.rno}" class="btn btn-danger btnReplyDelete">삭제</button>
				</div>
	</div>`;
}


/*-------------------------------------
등록 버튼 이벤트 지정
---------------------------------------*/	
const url = "/reply";
function replyInsert(){
	document.querySelector(".btnReplyInsert").addEventListener("click", function(){

		//파라미터 만들기
		const reply = frm.reply.value;
		const replyer = frm.replyer.value;
		const bno = frm.bno.value;
		const param = {reply, replyer, bno}
		
		//등록 요청
		fetch(url, {
			method:"post",
			headers: {
			      "Content-Type": "application/json",
			      // 'Content-Type': 'application/x-www-form-urlencoded',
			    },
			body : JSON.stringify(param), 
		})
		.then( result => result.text() )
		.then( result => alert(result) )
		// .then( result => replyList() )
	})
};

function replyUpdate(){
	document.querySelector(".btnReplyUpdate").addEventListener("click",function(){
		const reply = frm.reply.value;
		const rno = frm.rno.value;
		const param = {reply};
		fetch(`/reply/${rno}`,{
			method:"put",
			headers: {
			      "Content-Type": "application/json",
			      // 'Content-Type': 'application/x-www-form-urlencoded',
			    },
			    body : JSON.stringify(param), 
		})
		.then( result => result.text() )
		.then( result => {alert("수정완료! "+result); replyList();} )
	})
};
function replyDelete(){
	// 삭제는 데이터 완전삭제인지 아니면 non display인지
	document.querySelector(".btnReplyDelete").addEventListener("click",function(event){
		console.log(event.target.dataset.rno);
		console.log(event.target);
		const rno = event.target.dataset.rno;
		const div = document.querySelectorAll(".col-6");
		const divOrigin = document.querySelectorAll(`div[data-id="${rno}"]`)[0];
		const divId = document.querySelectorAll(`div[data-id="${rno}"]`)[0].dataset.id;
		console.log("divId : "+divId);
		console.log("div.length : "+div.length);
		const param = {rno};
		
		if(confirm("정말 삭제하시겠습니까?")){
			// 데이터 삭제 처리
			fetch(`/reply/${rno}`,{
				method : "delete",
				headers : {
					"Content-Type": "application/json",
				},
				 body : JSON.stringify(param),
			})
			.then(result => result.text())
			.then(result => {alert("삭제완료! "+result); replyList();})
		}else{
			alert("삭제 취소하였습니다");
		}
	
		
		
		// 단순 숨기기 라면 
		//if(divId == rno)
		//{
			//console.log("같아요!");
			//console.log(divOrigin.style.display="none");
		//}else{
			//alert("달라요!");
		//}
		
		
    })
}
</script>
</body>

</html>